{% extends "base.html" %}
{% block content %}

<div class="dashhead m-t-md">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">GO Long Beach</h2>
  </div>
  <div class="dashhead-toolbar">
    <div class="btn-group dashhead-toolbar-item btn-group-thirds">
      <button type="button" class="btn btn-primary-outline disabled">Day</button>
      <button type="button" class="btn btn-primary-outline disabled">Week</button>
      <button type="button" class="btn btn-primary-outline active">Month</button>
      <button type="button" class="btn btn-primary-outline disabled">YTD</button>
    </div>
  </div>
</div>

<div class="hr-divider m-t m-b-md">
  <h3 class="hr-divider-content hr-divider-heading">YTD stats</h3>
</div>

<div class="row statcards">
  <div class="col-sm-6 col-md-3 m-b">
    <div class="statcard" tabindex="0">
      <div class="p-a">
        <span class="statcard-desc">Open Requests</span>
        <h2 class="statcard-number">
          <span id="open-requests-metric"></span>
        </h2>
      </div>
      <canvas id="open-requests-sparkline" class="sparkline"></canvas>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 m-b">
    <div class="statcard">
      <div class="p-a">
        <span class="statcard-desc">Pending Requests</span>
        <h2 class="statcard-number">
          <span id="pending-requests-metric"></span>
        </h2>
      </div>
      <canvas id="pending-requests-sparkline" class="sparkline"></canvas>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 m-b">
    <div class="statcard">
      <div class="p-a">
        <span class="statcard-desc">Closed Requests</span>
        <h2 class="statcard-number">
          <span id="closed-requests-metric"></span>
        </h2>
      </div>
      <canvas id="closed-requests-sparkline" class="sparkline"></canvas>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 m-b">
    <div class="statcard">
      <div class="p-a">
        <span class="statcard-desc">Average Time To Close Request</span>
        <h2 class="statcard-number">
          <span id="avg-days-to-close-metric"></span> days
        </h2>
      </div>
      <canvas id="average-requests-sparkline" class="sparkline"></canvas>
    </div>
  </div>
</div>

<div class="hr-divider m-y-md">
  <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
    <li class="active" role="presentation">
      <a href="#topics" role="tab" data-toggle="tab" aria-controls="topics">Topics</a>
    </li>
    <li role="presentation">
      <a href="#departments" role="tab" data-toggle="tab" aria-controls="requests">Departments</a>
    </li>
    <li role="presentation">
      <a href="#locations" role="tab" data-toggle="tab" aria-controls="locations">Locations</a>
    </li>
  </ul>
</div>

<div class="row">

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="topics">
      <div class="col-md-6">
        <h4>Reported topic distribution</h4>
        <canvas id="go-lb-topic-count"></canvas>
      </div>
      <div class="col-md-6">
        <h4>Average time to close request by topic</h4>
        <canvas id="go-lb-topic-average"></canvas>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="departments">
      <div class="col-md-12">
        <h4>Number of department requests vs. avergage days to close</h4>
        <div id="department-scatter-wrapper" class="clickable-area" tabindex=0>
          <div id="department-scatter"></div>
        </div>
        <!--<h4>Topic department distribution by month</h4>
        <canvas id="department-count-chart"></canvas>
        -->
        <!--
        <div id="department-count-table" class="list-group">
          <h4 class="list-group-header">
            Topic department distribution by month
          </h4>
          {% for d in table_data.department_count %}
            <a class="list-group-item" href="#">
              <span class="list-group-progress" style="width:{{ d.normalized_count * 100 }}%;"></span>
              <span class="pull-right text-muted">{{ d.count }} requests</span>
              {{ d.department }}
            </a>
          {% endfor %}
        </div>
        -->
      </div>
      <div class="col-md-6">
        <!--
        <div id="department-average-table" class="list-group">
          <h4 class="list-group-header">
            Average time to close requests by department
          </h4>
          {% for d in table_data.department_averages %}
            <a class="list-group-item" href="go_lb/drilldown">
              <span class="list-group-progress" style="width:{{ d.normalized_avg * 100 }}%;"></span>
              <span class="pull-right text-muted">{{ d.avg_days_to_close }} days</span>
              {{ d.department }}
            </a>
          {% endfor %}
        </div>
        -->
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="locations">
      <div class="col-md-8">
        <h4>GO Long Beach Requests &mdash; Intensity Map</h4>
        <div id="go-lb-map-canvas"></div>
        <br />
        <div class="well well-sm">
          Displaying <strong>Graffiti</strong> and
          <strong>Illegally dumped item</strong> requests that took over
          <strong>10 DAYS</strong> to resolve within the past 6 months.
        </div>
        <!--<div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">GO Long Beach Requests &mdash; Intensity Map</div>
          </div>
          <div class="panel-body">
            <div id="go-lb-map-canvas"></div>
            <div class="well well-sm">
              Displaying <strong>Graffiti</strong> and
              <strong>Illegally dumped item</strong> requests that took over
              <strong>10 DAYS</strong> to resolve within the past 6 months.
            </div>
          </div>-->
        </div>
        <div class="col-md-4">
          <h4>Duplicate Requests By Location and Topic</h4>
          <table id="duplicate-requests-table" class="table table-condensed">
            <thead>
              <tr>
                <th>Location</th>
                <th>Topic</th>
                <th>Requests</th>
              </tr>
            </thead>
            <tbody>
              {% for t in table_data.duplicate_locations %}
                <tr>
                  <td>{{ t.location }}</td>
                  <td>{{ t.topic }}</td>
                  <td>{{ t.topic_count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

  </div>
</div>

{% endblock %}