.sparkline {
	width: 190px;
	height: 50px;
}

#go-lb-map-canvas {
	min-height: 325px;
	max-height: 325px;
	height: 325px;
}

/* Other styles */
.social-panel-title {
	font-size: 24px;
}

.fb-post-stats {
  position: relative;
  display: block;
  padding: 5px 15px;
  margin-bottom: -1px;
  color: #fff;
  background-color: #0A324C;
  border: 1px solid #ddd;
}