.chart {
	min-height: 325px;
	max-height: 325px;
	height: 325px;
}

#go-lb-topics {
	padding-right: 20px;
}

#go-lb-rolling-requests {
	padding-right: 20px;
}

.metric-text {
	font-weight: 600;
	font-size: 36px;
}

/* Other styles */
.social-panel-title {
	font-size: 24px;
}

.fb-post-stats {
  position: relative;
  display: block;
  padding: 5px 15px;
  margin-bottom: -1px;
  color: #fff;
  background-color: #0A324C;
  border: 1px solid #ddd;
}