{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1>Social Media Dashboard</h1>
  </div>
</div>

<div class="row">
	<div class="col-sm-6">
		<ul>
			{% for p in top_facebook_posts %}
				<li>{{ top_facebook_posts[p]['message'] }}</li>
				<li>
					Likes: {{ top_facebook_posts[p]['likes'] }} |
					Comments: {{ top_facebook_posts[p]['comments'] }} |
					Shares: {{ top_facebook_posts[p]['shares'] }}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}